# Dataset
DATASET_DIR=./dataset

# Model
MODEL_NAME=efficientnetb3
MODEL_SAVE_DIR=./src/trained_models
MODEL_FILE_NAME=efficientnetb3.keras

# Training
IMAGE_SIZE=224
BATCH_SIZE=32
EPOCHS=20
LEARNING_RATE=0.001
EARLY_STOPPING_PATIENCE=5
RANDOM_SEED=42

# Fine Tuning
FINE_TUNE_EPOCHS=10
FINE_TUNE_LEARNING_RATE=0.00001
UNFREEZE_LAYERS=30

# Dataset Split
TRAIN_SPLIT=0.70
VAL_SPLIT=0.15
TEST_SPLIT=0.15

# Callbacks
REDUCE_LR_PATIENCE=3
REDUCE_LR_FACTOR=0.2
MIN_LEARNING_RATE=0.000001

# API
API_HOST=0.0.0.0
API_PORT=8000